{% extends "EasyRoomAppBundle::template_parent.html.twig" %}

{# Contenu du block stylesheets #}
{% block stylesheets %}
    {# (Contenu optionnel) ici doit être ajouté seulement des balises <link> pour faire appel à des fichiers css spécifiques à la vue #}
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/easyroomapp/dist/css/salle_edit.css') }}"/>
{% endblock %}

{# Contenu du block main #}
{% block main %}
    {# (Contenu obligatoire) ici doit être ajouté le contenu de l'écran #}
    <div class="row entete-admin"></div>

    <section class="row container">
        <div class="col s8">
        </div>
        <div class="col s4 titre-page">
            <h5>Modification salle</h5>
        </div>
        <div class="container"> 
            {{ form_errors(form) }}
            <div>
                {# On affiche tous les messages flash dont le nom est « info » #}
                {% if app.session.flashBag.has('success')%}
                    <i class="material-icons">sentiment_very_satisfied</i>
                    {% for message in app.session.flashBag.get('success') %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            </div>  
            <div class="row">
                {{ form_start(form, {'method' : 'post', 'action' : path('easy_room_app_salle_edit', {'idSalle': salle.id  } ) }) }}
                <div class="card-panel col s12">
                    <h5 class="header2">Informations de la salle</h5>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_row(form.libelle) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(form.description, {'attr': {'class': 'materialize-textarea'}}) }}
                            {{ form_label(form.description) }}
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6">
                            {{ form_widget(form.file) }}
                            {{ form_errors(form.file) }}
                        </div>
                        <div class="col s6">
                            {% if salle.extensionPhoto is not null %}
                                <div id="cadre_photoSalle">
                                    <img class="photo-salle" src="{{ asset(salle.photoPath) }}" />
                                </div>
                                <button class="btn waves-effect waves-light" data-target="modal_delete_photo" id="delete_photo" name="delete_photo"><i class="material-icons">delete_forever</i></button>
                                <div id="modal_delete_photo" class="modal">
                                    <div class="modal-content">
                                        <h4>Suppression photo</h4>
                                        <p>L'action de suppression prendra effet lors de la validation du formulaire. La photo sera alors surpprimée de manière définitive.</p>
                                        <p>Souhaitez-vous poursuivre?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="modale_delete_msg_oui">Oui</a>
                                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="modale_delete_msg_non">Non</a>
                                    </div>
                                </div>
                                {{ form_row(form.nomPhoto) }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(form.disponible) }}
                            {{ form_errors(form.disponible) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(form.lumiereJour) }}
                            {{ form_errors(form.lumiereJour) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(form.handicap) }}
                            {{ form_errors(form.handicap) }}
                        </div>
                    </div>
                </div>
                <div class="card-panel col s12">
                    <h5 class="header2">Dispositions de la salle</h5>
                    <div class="row">
                        <div class="col s12">
                            <ul class="collection">
                                <li class="collection-item">
                                    {{ form_row(form.capaciteRectangle) }}
                                </li>
                                <li class="collection-item">
                                    {{ form_row(form.capaciteConference) }}
                                </li>
                                <li class="collection-item">
                                    {{ form_row(form.capaciteClasse) }}
                                </li>
                                <li class="collection-item">
                                    {{ form_row(form.capaciteVide) }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            {{ form_widget(form.dispositionDefaut, {'attr': {'class': 'initialized'}}) }}
                            {{ form_label(form.dispositionDefaut) }}
                            {{ form_errors(form.dispositionDefaut) }}
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn waves-effect waves-light" type="reset" name="reset">Effacer<i class="material-icons right">clear</i></button>
                    <button class="btn waves-effect waves-light" type="submit" name="submit">Valider<i class="material-icons right">done</i></button>
                </div>
                {{ form_end(form)}}
            </div>
        </div>
    </section>

{% endblock %}

{# Contenu du block javascript #}
{% block javascript %}
    <script src="{{ asset('bundles/easyroomapp/dist/js/salle_edit.js') }}"></script>
{% endblock %}
