{# Surcharge des champs radio et checkbox pour un rendu "Materialize" #}
{%- block choice_widget -%}
    {% if expanded %}
        {{- block('choice_widget_expanded') -}}
    {% else %}
        {{- block('choice_widget_collapsed') -}}
    {% endif %}
{%- endblock choice_widget -%}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
        {{- form_widget(child) -}}
        {# {{- form_label(child, null, {translation_domain: choice_translation_domain}) -}} <--------------------- supression du libellé #}
    {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{%- block checkbox_widget -%}
{% spaceless %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    <label  for="{{ id }}">{{ label|trans }}</label> {# Ajout du libellé derrière le champ input#}
{% endspaceless %}
{%- endblock checkbox_widget -%}

{%- block radio_widget -%}
{% spaceless %}
    <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
    <label  for="{{ id }}">{{ label|trans }}</label> {# Ajout du libellé derrière le champ input#}
{% endspaceless %}
{%- endblock radio_widget -%}


{# Surcharge du champ input file pour un rendu "Materialize" #}
{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    {% if type == 'file'%}
        <div class="file-field input-field">
            <div class="btn">
                <span>Image</span>
                <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text" {% if value is not empty %}value="{{ value }}" {% endif %}>
            </div>
        </div>
    {% else %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    {% endif %}
{%- endblock form_widget_simple -%}